{% extends 'bump/base.html' %}
{% block content %}    
    <h5>{{hour_count}} games past hour, {{day_count}} past 24 hours, {{week_count}} past 7 days, {{month_count}} past 30 days</h5>
    <h5>{{player_count}} players have bumped, {{player_week}} new players in the past 7 days</h5>
    {% if games_feed %}
    <ul>
    {% for game in games_feed %}
        <li>{{ game.date }} {{ game }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if series_tuples %}
    <h5>Top Series for Today</h5>
    <ol>
    {% for series in series_tuples %}
        {% if series.1.0 >= series.1.1 %}
        <li>{{ series.0.0 }} {{series.1.0}}-{{series.1.1}} {{series.0.1}}</li>
        {% else %}
        <li>{{ series.0.1 }} {{series.1.1}}-{{series.1.0}} {{series.0.0}}</li>
        {% endif %}
    {% endfor %}
    </ol>
    {% endif %}
    
{% endblock %}