{% extends 'bump/base.html' %}

{% block content %}
<body onload='setFocusToBox()'>
<form action="/submit-game/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% if feed %}
    <ul>
    {% for game in feed %}
        <li>{{ game.date }} {{ game}}</li>
    {% endfor %}
    </ul>
{% endif %}
</body>

<script type="text/javascript">
     function setFocusToBox(){
        document.getElementById("id_game_text").focus();
     }
</script>

{% endblock %}