{% if players %}
<table>
    <tr>
        <th>Identifier</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Duke</th>
        <th>Class</th>
        <th>Registered</th>
    </tr>
{% for p in players %}
    <tr>
        <td>{{ p.identifier }}</td>
        <td>{{ p.first_name }}</td>
        <td>{{ p.last_name}}</td>
        <td>{% if p.duke %} X {% endif %}</td>
        <td>{{ p.class_year }}</td>
        <td>{% if p.user %} X {% endif %}</td>
    </tr>
{% endfor %}
</table>
{% endif %}