{% extends 'bump/base.html' %}
{% block content %}
    {% if player %}
        <h4>{{ player.first_name }} {{ player.last_name }}</h4>
        Identifier: {{ player.identifier }} <br/>
        Record: {{ player.wins }}-{{ player.losses }} <br/>
        Elo: {{ player.elo }}<br/>
        First Bumped: {{ player.start_date }}<br/>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>{% for finisher_tuple in finisher_stats %}<td>{{finisher_tuple.0}}{% endfor %}</tr>
            </thead>
            <tbody>
                <tr>
                {% for finisher_tuple in finisher_stats %}
                <td>{{finisher_tuple.1}}</td>
                {% endfor %}
                </tr>
                <tr>
            </tbody>
        </table>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr><td></td><td>Hold Red</td><td>Hold White</td><td>Break Red</td><td>Break White</td></tr>
            </thead>
            <tbody>
                <tr><td>All Opponents</td>
                <td>{{win_totals.0}}</td>
                <td>{{win_totals.2}}</td>
                <td>{{win_totals.1}}</td>
                <td>{{win_totals.3}}</td></tr>
                <tr>
                <td>Percentages</td>
                <td>{{win_percentages.0|floatformat:1}}</td>
                <td>{{win_percentages.2|floatformat:1}}</td>
                <td>{{win_percentages.1|floatformat:1}}</td>
                <td>{{win_percentages.3|floatformat:1}}</td></tr>
                <tr>
                <td>Ranked Opponents</td>
                <td>{{rwin_totals.0}}</td>
                <td>{{rwin_totals.2}}</td>
                <td>{{rwin_totals.1}}</td>
                <td>{{rwin_totals.3}}</td></tr>
                <tr>
                <td>Percentages</td>
                <td>{{rwin_percentages.0|floatformat:1}}</td>
                <td>{{rwin_percentages.2|floatformat:1}}</td>
                <td>{{rwin_percentages.1|floatformat:1}}</td>
                <td>{{rwin_percentages.3|floatformat:1}}</td></tr>
            </tbody>
        </table>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr><td></td><td>Hold Red</td><td>Hold White</td><td>Break Red</td><td>Break White</td></tr>
            </thead>
            <tbody>
                <tr>
                <td>All Opponents</td>
                <td>{{lose_totals.0}}</td>
                <td>{{lose_totals.2}}</td>
                <td>{{lose_totals.1}}</td>
                <td>{{lose_totals.3}}</td>
                </tr>
                <tr>
                <td>Percentages</td>
                <td>{{lose_percentages.0|floatformat:1}}</td>
                <td>{{lose_percentages.2|floatformat:1}}</td>
                <td>{{lose_percentages.1|floatformat:1}}</td>
                <td>{{lose_percentages.3|floatformat:1}}</td>
                </tr>
                <tr>
                <td>Ranked Opponents</td>
                <td>{{rlose_totals.0}}</td>
                <td>{{rlose_totals.2}}</td>
                <td>{{rlose_totals.1}}</td>
                <td>{{rlose_totals.3}}</td>
                </tr>
                <tr>
                <td>Percentages</td>
                <td>{{rlose_percentages.0|floatformat:1}}</td>
                <td>{{rlose_percentages.2|floatformat:1}}</td>
                <td>{{rlose_percentages.1|floatformat:1}}</td>
                <td>{{rlose_percentages.3|floatformat:1}}</td>
                </tr>
            </tbody>
        </table>
                <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr><td></td><td>First Ball %</td><td>Red First Ball %</td><td>White First Ball %</td><td>Red Hold %</td><td>White Hold %</td><td>Red Break %</td><td>White Break %</td></tr>
            </thead>
            <tbody>
                <tr>
                <td>All Opponents</td>
                <td>{{player_stats.0|floatformat:1}}</td>
                <td>{{player_stats.1|floatformat:1}}</td>
                <td>{{player_stats.2|floatformat:1}}</td>
                <td>{{player_stats.3|floatformat:1}}</td>
                <td>{{player_stats.4|floatformat:1}}</td>
                <td>{{player_stats.5|floatformat:1}}</td>
                <td>{{player_stats.6|floatformat:1}}</td>
                </tr>
                <tr>
                <td>Ranked Opponents</td>
                <td>{{rplayer_stats.0|floatformat:1}}</td>
                <td>{{rplayer_stats.1|floatformat:1}}</td>
                <td>{{rplayer_stats.2|floatformat:1}}</td>
                <td>{{rplayer_stats.3|floatformat:1}}</td>
                <td>{{rplayer_stats.4|floatformat:1}}</td>
                <td>{{rplayer_stats.5|floatformat:1}}</td>
                <td>{{rplayer_stats.6|floatformat:1}}</td>
                </tr>
                <tr>
                <td>League Average</td>
                <td>{{average_stats.0|floatformat:1}}</td>
                <td>{{average_stats.1|floatformat:1}}</td>
                <td>{{average_stats.2|floatformat:1}}</td>
                <td>{{average_stats.3|floatformat:1}}</td>
                <td>{{average_stats.4|floatformat:1}}</td>
                <td>{{average_stats.5|floatformat:1}}</td>
                <td>{{average_stats.6|floatformat:1}}</td>                
                </tr>
            </tbody>
        </table>
        
        
        
        
        
        
        Most recent games:
        <ul>
        {% for game in recent_games %}
            <li>{{ game.date }} {{ game }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% if player_user %}
    Registered! Username: {{ player_user.username }}
    {% else %}
    Not registered.
    {% endif %}
    

{% endblock %}