{% extends 'bump/base.html' %}
{% block content %}
    {% if player %}
        <h4>{{ player.first_name }} {{ player.last_name }}</h4>
        Identifier: {{ player.identifier }} <br/>
        Record: {{ player.wins }}-{{ player.losses }} <br/>
        Elo: {{ player.elo }}<br/>
        First Bumped: {{ player.start_date }}<br/>
        <h1>Winning Finishers</h1>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr><td></td>{% for finisher_tuple in finisher_stats %}<td>{{finisher_tuple.0}}</td>{% endfor %}</tr>
            </thead>
            <tbody>
                <tr>
                <td>All Opponents</td>
                {% for finisher_tuple in finisher_stats %}
                <td>{{finisher_tuple.1}} ({{finisher_tuple.2|floatformat:1}}%)</td>
                {% endfor %}
                </tr>
                <tr>
                <td>Ranked Opponents</td>
                {% for rfinisher_tuple in rfinisher_stats %}
                <td>{{rfinisher_tuple.1}} ({{rfinisher_tuple.2|floatformat:1}}%)</td>
                {% endfor %}
                </tr>
                <tr>
                <tr>
                <td>Total League</td>
                {% for count,per in league_finisher %}
                <td>{{count}} ({{per|floatformat:1}}%)</td>
                {% endfor %}
                </tr>   
            </tbody>
        </table>
        <h1>Losing Finishers</h1>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr><td></td>{% for finisher_tuple in lose_finisher_stats %}<td>{{finisher_tuple.0}}</td>{% endfor %}</tr>
            </thead>
            <tbody>
                <tr>
                <td>All Opponents</td>
                {% for finisher_tuple in lose_finisher_stats %}
                <td>{{finisher_tuple.1}} ({{finisher_tuple.2|floatformat:1}}%)</td>
                {% endfor %}
                </tr>
                <tr>
                <td>Ranked Opponents</td>
                {% for rfinisher_tuple in rlose_finisher_stats %}
                <td>{{rfinisher_tuple.1}} ({{rfinisher_tuple.2|floatformat:1}}%)</td>
                {% endfor %}
                </tr>
                <tr>
            </tbody>
        </table>
        <h1>Wins</h1>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr><td></td><td>Hold Red</td><td>Hold White</td><td>Break Red</td><td>Break White</td></tr>
            </thead>
            <tbody>
                <tr>
                <td>All Opponents</td>
                {% for tuple in win_tuples %}
                <td>{{tuple.0}} ({{tuple.1|floatformat:1}}%)</td>
                {% endfor %}
                </tr>
                <tr>
                <td>Ranked Opponents</td>
                {% for tuple in rwin_tuples %}
                <td>{{tuple.0}} ({{tuple.1|floatformat:1}}%)</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        <h1>Losses</h1>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr><td></td><td>Hold Red</td><td>Hold White</td><td>Break Red</td><td>Break White</td></tr>
            </thead>
            <tbody>
                <tr>
                <td>All Opponents</td>
                {% for tuple in lose_tuples %}
                <td>{{tuple.0}} ({{tuple.1|floatformat:1}}%)</td>
                {% endfor %}
                </tr>
                <tr>
                <td>Ranked Opponents</td>
                {% for tuple in rlose_tuples %}
                <td>{{tuple.0}} ({{tuple.1|floatformat:1}}%)</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        <h1>Player Stats</h1>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr><td></td><td>Red Win %</td><td>White Win %<td>First Ball %</td><td>Red First Ball %</td><td>White First Ball %</td><td>Red Hold Win %</td><td>White Hold Win %</td><td>Red Break %</td><td>White Break %</td></tr>
            </thead>
            <tbody>
                <tr>
                <td>All Opponents</td>
                {% for per in player_stats %}
                <td>{{per|floatformat}}%</td>
                {% endfor %}
                </tr>
                <tr>
                <td>Ranked Opponents</td>
                {% for per in rplayer_stats %}
                <td>{{per|floatformat}}%</td>
                {% endfor %}
                </tr>
                <tr>
                <td>League Average</td>
                {% for per in average_stats %}
                <td>{{per|floatformat}}%</td>
                {% endfor %}               
                </tr>
            </tbody>
        </table>
        
        
        
        
        
        
        Most recent games:
        <ul>
        {% for game in recent_games %}
            <li>{{ game.date }} {{ game }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% if player_user %}
    Registered! Username: {{ player_user.username }}
    {% else %}
    Not registered.
    {% endif %}
    

{% endblock %}