{% extends 'bump/base.html' %}
{% block content %}
    <p><i>Number of weeks spent at world #2. SGOAT status is updated Fridays at 5pm.</i></p>
    <br/>
    <ol>
    {% for player,place_count in placeDict %}
        <li>{{ player.identifier }}: {{place_count}}</li>
    {% endfor %}
    <h5>Records Against</h5>
    {% for player,opponent_tuples in records_against %}
        <p>{{player.identifier}} Against:</p>
        <ul>
        {% for opponent,wins,loses in opponent_tuples  %}
        <li>{{opponent.identifier}}: ({{wins}}-{{loses}})</li>
        {% endfor %}
        </ul>
    {% endfor %}
    <h5>Overall Record + (Non-Tyler Win % on Brunswick)</h5>
    <ul>
    {% for player,tup in nontyler_record %}
        <li>{{ player.identifier }} ({{player.wins}}-{{player.losses}}) | {{tup.0|floatformat:3}} ({{tup.1}}-{{tup.2}})</li>
    {% endfor %}
    </ul>
{% endblock %}